* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: larger;

}

nav {
    display: flex;
    padding: 1.5rem 0;
    background-color: rgba(0, 128, 0);
    width: 100%;
    position: fixed;
    z-index: 100;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.brand {
    flex-basis: 50%;
    font-weight: bold;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 4rem;
}

.menu {
    margin: auto;
}

.active {
    color: rgba(255, 255, 255, 0.8);
}

main {
    align-items: center;
    display: flex;
    padding-left: 4rem;
    background-color: green;
    height: 700px;
    color: white;
}

.header {
    flex-basis: 50%;
}

h1 {
    font-size: 3rem;
}

.home-img pre {
    font-size: 0.4rem;
    padding-left: 50%;
    margin-top: 5rem;
}

/* page: tentang kami */
#tentang-kami {
    display: flex;
    height: 600px;
    color: black;
    padding: 4rem;
}

.about-img {
    font-size: 10px;
    margin-left: -3rem;
}

.about {
    align-items: center;
    width: 50%;
    margin: auto;
}


/* page: katalog prev */
#katalog-prev {
    background-color: rgba(0, 128, 0, 0.1);
    height: 700px;
}

.header-kat {
    text-align: center;
    padding: 4rem;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.product {
    background-color: white;
    width: 280px;
    height: 350px;
    text-align: center;
    border-radius: 5%;
}

.product pre {
    font-size: 4px;
    padding-top: 2rem;
}

/* if pre is over the box */
.product:nth-child(3) pre {
    font-size: 3px;
}

.product p {
    padding: 1rem 0;

}
