* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: larger;
    color: white;
}

nav {
    display: flex;
    padding: 1.5rem 0;
    background-color: green;
    width: 100%;
    position: fixed;
    z-index: 100;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.brand {
    flex-basis: 50%;
    font-weight: bold;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 4rem;
}

.menu {
    margin: auto;
}

.active {
    color: rgba(255, 255, 255, 0.8);
}

main {
    align-items: center;
    display: flex;
    padding-left: 4rem;
    background-color: green;
    height: 500px;
    position: relative;
}

.header {
    flex-basis: 50%;
}

h1 {
    font-size: 3rem;
}

/* page: tentang kami */
#tentang-kami {
    position: relative;
    height: 600px;
    color: black;
    padding: 4rem;
}

.about {
    align-items: center;
}
