* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: larger;
    color: white;
}

nav {
    display: flex;
    padding: 1.5rem;
    background-color: green;
    width: 100%;
}

.brand {
    flex-basis: 50%;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 4rem;
}

.active {
    color: rgba(255, 255, 255, 0.8);
}

main {
    align-items: center;
    display: flex;
    padding-left: 4rem;
    background-color: green;
    height: 600px;
    position: relative;
}

.header {
    flex-basis: 50%;
}

.header h1 {
    font-size: 3rem;
}

#tentang-kami {
    position: relative;
    height: 600px;
    color: black;
}