* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* important part if use <pre> as img */
pre {
    overflow: hidden;
}

body {
    font-family: monospace;
    font-size: larger;
}

nav {
    display: flex;
    padding: 1.5rem 0;
    background-color: rgba(0, 128, 0);
    width: 100%;
    position: fixed;
    z-index: 100;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.brand {
    flex-basis: 50%;
    font-weight: bold;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 4rem;
}

.menu {
    margin: auto;
}

.menu a:hover,
.footer-menu a:hover {
    color: rgb(0, 255, 4);
}

main {
    align-items: center;
    display: flex;
    padding-left: 4rem;
    background-color: green;
    height: 700px;
    color: white;
}

.header {
    flex-basis: 50%;
}

h1 {
    font-size: 3rem;
}

.home-img pre {
    font-size: 0.4rem;
    padding-left: 50%;
    margin-top: 5rem;
}

/* page: tentang kami */
#tentang-kami {
    display: flex;
    height: 600px;
    color: black;
    padding: 4rem;
}

.about-img {
    font-size: 10px;
    margin-left: -3rem;
    box-shadow: ack 2px;
}

.about {
    align-items: center;
    width: 50%;
    margin: auto;
}


/* page: reasons */
#reasons {
    background-color: green;
    height: 500px;
    color: white;
    padding: 4rem;
}

#reasons header {
    text-align: center;
    padding: 4rem 0;
}

#reasons header h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.list-item {
    display: flex;
    gap: 40px;
}

.item {
    background-color: white;
    color: black;
    height: 200px;
    border-radius: 20px;
}

.content {
    padding: 2rem 1rem;
}

/* page: katalog prev */
#katalog-prev {
    height: 700px;
}

.header-kat {
    text-align: center;
    padding: 4rem;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.product {
    background-color: green;
    color: white;
    width: 280px;
    height: 350px;
    text-align: center;
    border-radius: 5%;
}

.product pre {
    font-size: 4px;
    padding-top: 2rem;
}

/* if pre is over the box */
.product:nth-child(3) pre {
    font-size: 3px;
}

.product p {
    padding: 1rem 0;

}


/* page: contact */
#contact {
    background-color: green;
    height: 700px;
}

.header-con {
    text-align: center;
    padding: 4rem;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.info, 
.form-contact {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 500px;
    height: 450px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5%;
} 



.info h2 {
    padding: 15% 0 3%;
}

.item,
.form-contact h2 {
    padding: 0.5rem 0;
}

.item h3 {
    padding: 5px 0;
}

.form-contact form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.7rem ;
}

.form-contact form input,
.form-contact form textarea,
.btn-kirim {
    height: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.063);
    padding: 1rem;
    font-size: 1rem;
    font-family: monospace;
}

.btn-kirim {
    background-color: green;
    color: white;
    font-weight: bold;
}


/* page: footer */
footer {
    height: 250px;
    background-color: green;
    color: white;
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
}

footer h3 {
    padding-bottom: 1rem;
}

footer p,
footer ul {
    font-size: 0.9rem;
}

footer ul {
    list-style: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.footer-menu ul li,
.footer-contact ul li {
    padding: 0.3rem 0;
}

.footer-contact ul {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}

.footer-contact ul li a pre {
    font-size: 1px;
}


/* universal */
.btn-kirim,
.form-contact {
    box-shadow: 5px 5px 5px rgba(237, 237, 237, 0.5);
}

.product {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.about-img pre{
    text-shadow: 5px 5px 5px rgba(237, 237, 237, 0.5);
}




/* javascript */
.link-active {
    color: rgb(0, 255, 4);
}